.hero__content {
  display: flex;

  @include phone {
    flex-direction: column;
  }
}

.hero__title {
  min-width: 42%;
  font-weight: 500;
  font-size: 48px;
  line-height: 0.8;

  @include laptop {
    min-width: 39%;
  }

  @include tablet {
    min-width: 41%;
    font-size: 38px;
  }

  @include phone {
    min-width: unset;
    font-size: 22px; 
    margin-bottom: 18px;
  }
}

.hero__desc {
  color: $font-light-gray;

  @include tablet {
    font-size: 12px;
  }

  @include phone {
    font-size: 10px;
  }
}